Repository Automattic/woocommerce-payments, pull requests merged in 2021-06, with the labels that each got.

#1831 Fix Express Payment method being displayed on Blocks checkout when Payment Request is not supported
  changelog.txt
  client/payment-request/blocks/index.js
  client/payment-request/blocks/payment-request-express.js
  client/payment-request/blocks/use-initialization.js
  client/payment-request/index.js
  client/payment-request/utils/utils.js
  readme.txt
Labels: pr: ready to merge

#1825 Fix Payment Request Google Pay method title
  includes/class-wc-payment-gateway-wcpay.php
  includes/class-wc-payments-payment-request-button-handler.php
Labels: pr: ready to merge

#1930 Updated currency symbols to display correctly for enabled currencies.
  client/multi-currency/enabled-currencies-list/list-item.js
  client/multi-currency/enabled-currencies-list/modal-checkbox.js
Labels: component: customer multi-currency, pr: ready to merge

#1945 feat: disable button until payment methods are selected
  client/settings/payment-methods-selector/index.js
  client/settings/payment-methods-selector/test/index.js
Labels: component: grouped-settings, pr: needs review

#1916 feat: add logging setting
  client/data/settings/action-types.js
  client/data/settings/actions.js
  client/data/settings/hooks.js
  client/data/settings/reducer.js
  client/data/settings/selectors.js
  client/settings/advanced-settings/index.js
  client/settings/advanced-settings/test/index.test.js
  includes/admin/class-wc-rest-payments-settings-controller.php
  tests/unit/admin/test-class-wc-rest-payments-settings-controller.php
Labels: component: grouped-settings, pr: needs review

#1942 refactor: max width on settings layout
  client/settings/index.js
  client/settings/payment-method-settings/index.js
  client/settings/payment-method-settings/index.scss
  client/settings/settings-layout/index.js
  client/settings/settings-layout/style.scss
  client/settings/settings-layout/test/index.test.js
  client/settings/settings-manager/index.js
Labels: component: grouped-settings, pr: needs review

#1978 Make success notice undismissable on overview page.
  client/overview/index.js
Labels: pr: ready to merge

#1977 Set manual exchange rate field to hide if automatic rate is chosen.
  client/multi-currency/index.js
  includes/multi-currency/class-settings.php
Labels: component: customer multi-currency, pr: needs review

#1986 Properly set manual rate if currency uses manual rate.
  includes/multi-currency/class-currency.php
  includes/multi-currency/class-multi-currency.php
  includes/multi-currency/class-settings.php
Labels: component: customer multi-currency, pr: needs review

#1983 Overview page improvements
  client/components/deposits-information/declarations.d.ts
  client/components/deposits-information/index.tsx
  client/components/test-mode-notice/index.js
  client/components/test-mode-notice/test/__snapshots__/index.js.snap
  client/components/test-mode-notice/test/index.js
  client/deposits/index.js
  client/deposits/overview/index.js
  client/deposits/overview/style.scss
  client/deposits/overview/test/__snapshots__/index.js.snap
  client/deposits/overview/test/index.js
  client/overview/index.js
  client/overview/style.scss
Labels: pr: ready to merge

#1971 Search functionality for customer multi currencies available modal
  client/components/search/index.js
  client/components/search/style.scss
  client/components/search/test/__snapshots__/index.js.snap
  client/components/search/test/index.js
  client/multi-currency/enabled-currencies-list/list-item.js
  client/multi-currency/enabled-currencies-list/modal-checkbox.js
  client/multi-currency/enabled-currencies-list/modal.js
  client/multi-currency/enabled-currencies-list/style.scss
  includes/multi-currency/class-currency.php
  tests/unit/multi-currency/test-class-currency.php
Labels: component: customer multi-currency, pr: ready to merge

#1774 Fix subscription sign-up fees not showing up for Payment Request
  changelog.txt
  includes/class-wc-payments-payment-request-button-handler.php
  readme.txt
Labels: pr: ready to merge

#1968 Bump Required Versions for 2.5 Release
  phpcs.xml.dist
  readme.txt
  woocommerce-payments.php
Labels: pr: ready to merge

#1992 Save selected customer currency in user settings
  includes/multi-currency/class-multi-currency.php
  includes/multi-currency/class-user-settings.php
  tests/unit/multi-currency/test-class-multi-currency.php
  tests/unit/multi-currency/test-class-user-settings.php
Labels: component: customer multi-currency, pr: ready to merge

#1998 Fix changelog and readme in preparation for 2.5.0 release.
  changelog.txt
  readme.txt
Labels: pr: ready to merge

#1974 Replace overwriting $current_section with overwriting Payments tab URL
  client/additional-methods-setup/methods-selector/setup-complete-task.js
  client/components/payment-methods-list/delete-button.js
  includes/admin/class-wc-payments-admin-sections-overwrite.php
  tests/unit/admin/test-class-wc-payments-admin-sections-overwrite.php
Labels: component: grouped-settings, pr: needs review

#2007 Add instance of Multi_Currency class directly into Settings, define parameters before assignment.
  includes/multi-currency/class-settings.php
Labels: component: customer multi-currency

#2010 Fix a typo and update settings link in setup wizard
  client/additional-methods-setup/methods-selector/add-payment-methods-task.js
  client/additional-methods-setup/methods-selector/setup-complete-task.js
Labels: component: grouped-settings, pr: needs review, type: bug

#2012 Add getters for the Frontend Currencies and Prices instances
  includes/multi-currency/class-frontend-currencies.php
  includes/multi-currency/class-frontend-prices.php
  includes/multi-currency/class-multi-currency.php
Labels: component: customer multi-currency, pr: needs review

#2006 Separate initialization and getting of currency arrays.
  includes/multi-currency/class-multi-currency.php
Labels: component: customer multi-currency

#2020 Set customer session cookie manually after select currency
  includes/multi-currency/class-multi-currency.php
Labels: component: customer multi-currency, pr: ready to merge

#2001 Recalculate cart when changing currency
  includes/multi-currency/class-frontend-currencies.php
  includes/multi-currency/class-multi-currency.php
  tests/unit/multi-currency/test-class-frontend-currencies.php
  tests/unit/multi-currency/test-class-multi-currency.php
Labels: component: customer multi-currency, pr: ready to merge

#1762 Initial start of settings for multi-currency
  client/components/search/index.js
  client/components/search/style.scss
  client/components/search/test/__snapshots__/index.js.snap
  client/components/search/test/index.js
  client/data/multi-currency/action-types.js
  client/data/multi-currency/actions.js
  client/data/multi-currency/hooks.js
  client/data/multi-currency/reducer.js
  client/data/multi-currency/resolvers.js
  client/data/multi-currency/selectors.js
  client/multi-currency/enabled-currencies-list/delete-button.js
  client/multi-currency/enabled-currencies-list/index.js
  client/multi-currency/enabled-currencies-list/list-item.js
  client/multi-currency/enabled-currencies-list/list.js
  client/multi-currency/enabled-currencies-list/modal-checkbox-list.js
  client/multi-currency/enabled-currencies-list/modal-checkbox.js
  client/multi-currency/enabled-currencies-list/modal.js
  client/multi-currency/enabled-currencies-list/style.scss
  client/multi-currency/index.js
  includes/multi-currency/class-currency.php
  includes/multi-currency/class-multi-currency.php
  includes/multi-currency/class-settings.php
  includes/multi-currency/class-wc-rest-controller.php
  tests/unit/multi-currency/test-class-currency.php
  webpack.config.js
Labels: component: customer multi-currency, pr: needs review

#2024 Fix empty cart display for logged-in users
  includes/multi-currency/class-frontend-currencies.php
Labels: component: customer multi-currency, pr: ready to merge

#1994 Add exchange rate to enabled currencies list
  client/multi-currency/enabled-currencies-list/index.js
  client/multi-currency/enabled-currencies-list/list-item.js
  client/multi-currency/enabled-currencies-list/style.scss
Labels: component: customer multi-currency, pr: ready to merge

#2025 Update multi currency init
  includes/multi-currency/class-multi-currency.php
  includes/multi-currency/class-settings.php
Labels: component: customer multi-currency, pr: ready to merge

#2021 Replace unsupported mysql image for ARM64
  docker-compose.yml
Labels: category: engineering, dependencies, pr: ready to merge

#2041 Fix fatal error when WCPay is deactivated when WC is inactive
  includes/class-wc-payments.php
Labels: category: engineering, pr: ready to merge

#1999 Account Overview page: styling improvements
  client/components/account-status/account-status-item.js
  client/components/account-status/index.js
  client/components/account-status/style.scss
  client/components/account-status/test/__snapshots__/index.js.snap
Labels: component: account overview page, pr: ready to merge

#2051 Use currency settings charm and rounding when calculating prices
  includes/multi-currency/class-multi-currency.php
  includes/multi-currency/class-settings.php
  tests/unit/multi-currency/test-class-multi-currency.php
Labels: component: customer multi-currency, pr: ready to merge

#2052 Remove "Enter VAT" link from additional methods onboarding wizard
  client/additional-methods-setup/methods-selector/setup-complete-task.js
Labels: component: grouped-settings, pr: needs review

#2060 Change mysql image used for e2e client tests for ARM64 processors
  tests/e2e/env/docker-compose.yml
Labels: category: E2E, category: engineering, component: tests, pr: ready to merge, priority: low, size: small, type: task

#1880 Add up to WooCommerce 5.3.0 for Github Action to test.
  .github/workflows/compatibility.yml
Labels: pr: ready to merge

#2003 feat: onboarding wizard text alignment
  client/additional-methods-setup/wizard/task-item.scss
Labels: component: grouped-settings, pr: needs review

#2015 Add "update business details" task to the "things to do next" list.
  client/index.js
  client/overview/task-list/index.js
  client/overview/task-list/tasks.js
Labels: pr: ready to merge, type: enhancement

#2045 Hide UPE settings behind flag. Update settings page design
  client/settings/advanced-settings/block-appearance.js
  client/settings/advanced-settings/checkbox-toggle.js
  client/settings/advanced-settings/debug-mode.js
  client/settings/advanced-settings/index.js
  client/settings/advanced-settings/test/block-appearance.test.js
  client/settings/advanced-settings/test/debug-mode.test.js
  client/settings/advanced-settings/test/index.test.js
  client/settings/advanced-settings/use-toggle.js
  client/settings/digital-wallets/index.js
  client/settings/general-settings/index.js
  client/settings/general-settings/test/general-settings.test.js
  client/settings/index.js
  client/settings/settings-manager/index.js
  client/settings/settings-manager/test/index.test.js
  client/settings/test-mode-settings/index.js
  client/settings/test-mode-settings/style.scss
  client/settings/transactions-and-deposits/index.js
  client/settings/transactions-and-deposits/style.scss
  client/settings/transactions-and-deposits/test/index.test.js
  client/settings/wcpay-settings-context.js
  includes/admin/class-wc-payments-admin.php
  includes/class-wc-payments-features.php
  tests/unit/test-class-wc-payments-features.php
Labels: component: grouped-settings, pr: needs review

#1933 feat: save express payment options
  client/data/settings/action-types.js
  client/data/settings/actions.js
  client/data/settings/hooks.js
  client/data/settings/reducer.js
  client/data/settings/selectors.js
  client/settings/payment-method-settings/digital-wallets-settings.js
  client/settings/payment-method-settings/index.scss
  client/settings/payment-method-settings/test/digital-wallets-settings.js
  client/settings/payment-method-settings/test/index.js
  includes/admin/class-wc-rest-payments-settings-controller.php
  includes/class-wc-payment-gateway-wcpay.php
  includes/class-wc-payments-payment-request-button-handler.php
  includes/class-wc-payments.php
  tests/unit/admin/test-class-wc-rest-payments-settings-controller.php
  tests/unit/test-class-wc-payment-gateway-wcpay.php
Labels: component: grouped-settings, pr: needs review

#2047 refactor: settings reducer redundant action types
  client/data/settings/action-types.js
  client/data/settings/actions.js
  client/data/settings/reducer.js
Labels: component: grouped-settings, pr: needs review

#2044 fix: card body spacing
  client/settings/advanced-settings/index.js
  client/settings/card-body/index.js
  client/settings/card-body/styles.scss
  client/settings/digital-wallets/index.js
  client/settings/general-settings/index.js
  client/settings/payment-method-settings/digital-wallets-settings.js
  client/settings/transactions-and-deposits/index.js
  client/settings/transactions-and-deposits/style.scss
Labels: component: grouped-settings, pr: needs review

#2036 feat: express payment methods with grouped settings
  client/payment-request/blocks/payment-request-express.js
  includes/class-wc-payments-payment-request-button-handler.php
  includes/class-wc-payments.php
  tests/unit/test-class-wc-payments-payment-request-button-handler.php
Labels: component: grouped-settings, pr: needs review

#2023 chore: remove digital wallets gateway
  client/settings/digital-wallets/test/index.test.js
  client/settings/payment-method-settings/index.js
  client/settings/payment-method-settings/test/index.js
  client/utils/index.js
  client/utils/test/index.js
  includes/class-wc-payment-gateway-wcpay.php
  includes/class-wc-payments.php
  includes/payment-methods/class-digital-wallets-payment-gateway.php
  tests/unit/test-class-wc-payment-gateway-wcpay.php
Labels: component: grouped-settings, pr: needs review

#2078 Fix fatal error if store currency is changed after enabled currencies are set
  changelog.txt
  includes/multi-currency/class-multi-currency.php
  readme.txt
  tests/unit/multi-currency/test-class-multi-currency.php
Labels: component: customer multi-currency, pr: ready to merge

#2062 Added additional phpunit tests for Customer Multi-Currency
  changelog.txt
  includes/multi-currency/class-multi-currency.php
  readme.txt
  tests/unit/multi-currency/test-class-multi-currency.php
Labels: component: customer multi-currency, pr: ready to merge

#2055 Change container ports and names on E2E test setup
  tests/e2e/README.md
  tests/e2e/env/setup.sh
Labels: category: E2E, pr: ready to merge

#2089 Sort currencies alphabetically by name
  includes/multi-currency/class-multi-currency.php
  tests/unit/multi-currency/test-class-multi-currency.php
Labels: component: customer multi-currency, pr: needs review

#2063 feat: overlay over disabled DW controls
  client/settings/digital-wallets/index.js
  client/settings/digital-wallets/style.scss
Labels: component: grouped-settings, pr: needs review

#2070 Pass config object to registerPaymentMethod, instead of function
  changelog.txt
  client/checkout/blocks/index.js
Labels: pr: ready to merge

#1996 Fixed Transaction listing to show deposit date
  changelog.txt
  client/transactions/list/deposit.js
  client/transactions/list/index.js
  client/transactions/list/test/__snapshots__/deposit.js.snap
  client/transactions/list/test/__snapshots__/index.js.snap
  client/transactions/list/test/deposit.js
  client/transactions/list/test/index.js
Labels: pr: ready to merge

#2046 Fail upload when dispute evidence goes over limit
  changelog.txt
  client/disputes/evidence/index.js
Labels: pr: ready to merge

#2103 Added admin note about multi-currency being available.
  includes/multi-currency/class-multi-currency.php
  includes/multi-currency/notes/class-note-multi-currency-available.php
  includes/multi-currency/wc-payments-multi-currency.php
  tests/unit/multi-currency/notes/test-class-note-multi-currency-available-test.php
Labels: component: customer multi-currency, pr: ready to merge

#2104 Enable frontend prices and currencies for cart and checkout blocks
  includes/multi-currency/class-frontend-currencies.php
  includes/multi-currency/class-frontend-prices.php
Labels: component: customer multi-currency, pr: ready to merge

#2064 Add preview for Multi-Currency single currency settings page.
  client/multi-currency/index.js
  includes/multi-currency/class-settings.php
Labels: component: customer multi-currency, pr: needs review

#2115 Add zero amount fee item to payment params without items
  includes/wc-payment-api/class-wc-payments-api-client.php
Labels: component: checkout, pr: needs review, priority: low, size: small, type: bug

#1947 fix: add white background to payment method delete icon
  client/components/payment-delete-illustration/styles.scss
Labels: component: grouped-settings

#1745 Add new E2E test Merchant / Disputes / Submit losing dispute
  tests/e2e/config/test.json
  tests/e2e/specs/admin/deposits.spec.js
  tests/e2e/specs/admin/disputes.spec.js
  tests/e2e/specs/admin/transactions.spec.js
  tests/e2e/specs/merchant/dispute-submit-losing.spec.js
  tests/e2e/specs/purchase.spec.js
  tests/e2e/specs/saved-cards/saved-cards-checkout.spec.js
  tests/e2e/specs/saved-cards/saved-cards-my-account.spec.js
  tests/e2e/utils/flows.js
Labels: category: E2E, pr: ready to merge

#2129 Fix duplicate currency codes
  client/multi-currency/enabled-currencies-list/modal-checkbox.js
Labels: component: customer multi-currency, pr: needs review, type: bug

#2109 Update card SVG when deleting payment method from settings page.
  assets/images/cards/unknown.svg
  client/components/payment-delete-illustration/styles.scss
Labels: component: grouped-settings, pr: needs review

#2149 Pass currency to wc_price when adding intent notes to orders.
  changelog.txt
  includes/class-wc-payment-gateway-wcpay.php
  readme.txt
Labels: component: customer multi-currency, pr: needs review

#2082 chore: add white outline button
  client/settings/payment-method-settings/digital-wallets-settings.js
  includes/class-wc-payment-gateway-wcpay.php
  tests/unit/test-class-wc-payment-gateway-wcpay.php
Labels: component: grouped-settings, pr: needs review

#2084 feat: remove negative margin from gutenberg help text
  client/settings/card-body/styles.scss
Labels: component: grouped-settings, pr: needs review

#1871 Added tests around saving dispute for editing
  tests/e2e/specs/disputes/save-for-editing.spec.js
  tests/e2e/specs/merchant/order-full-refund.spec.js
  tests/e2e/utils/flows.js
Labels: category: E2E, pr: ready to merge

#1796 Add new E2E test: Merchant / Disputes / Submit winning dispute
  tests/e2e/specs/merchant/dispute-submit-winning.spec.js
Labels: category: E2E, pr: ready to merge

#2144 Decode html entities on currencies name
  includes/multi-currency/class-currency.php
  tests/unit/multi-currency/test-class-currency.php
Labels: component: customer multi-currency, pr: ready to merge

#2043 Tests for enabled currencies list.
  client/multi-currency/enabled-currencies-list/index.js
  client/multi-currency/enabled-currencies-list/test/__snapshots__/index.js.snap
  client/multi-currency/enabled-currencies-list/test/index.js
Labels: component: customer multi-currency, pr: ready to merge

#2159 Clear search term on add currency modal close
  client/multi-currency/enabled-currencies-list/modal.js
  client/multi-currency/enabled-currencies-list/test/index.js
Labels: component: customers, pr: needs review

#2146 Update a copy of the rate objects when converting shipping prices
  includes/multi-currency/class-frontend-prices.php
  tests/unit/multi-currency/test-class-frontend-prices.php
Labels: component: customer multi-currency, pr: ready to merge

#2142 Recalculate cart on account currency update
  includes/multi-currency/class-multi-currency.php
  tests/unit/multi-currency/test-class-multi-currency.php
Labels: component: customer multi-currency, pr: ready to merge

#2157 Fix legacy currency switcher removing url params
  includes/multi-currency/class-currency-switcher-widget.php
  tests/unit/multi-currency/test-class-currency-switcher-widget.php
Labels: component: customer multi-currency, pr: needs review

#2183 Show previous details for non instant deposits
  changelog.txt
  client/deposits/details/index.js
  client/deposits/details/style.scss
  client/deposits/details/test/__snapshots__/index.js.snap
  client/deposits/details/test/index.js
  readme.txt
Labels: component: instant deposits, pr: needs review

#2053 Inbox notifications on overview screen
  changelog.txt
  client/overview/inbox-notifications/index.js
  client/overview/inbox-notifications/index.scss
  client/overview/inbox-notifications/test/index.js
  client/overview/index.js
  client/overview/style.scss
  client/overview/test/index.js
  client/utils/test/update-woocommerce-user-meta.js
  client/utils/update-woocommerce-user-meta.js
  includes/class-wc-payments.php
  package-lock.json
  package.json
Labels: pr: ready to merge, type: enhancement

#2133 perf: optimize settings re-rendering
  client/settings/loadable-settings-section.js
  client/settings/payment-method-settings/index.js
  client/settings/settings-manager/index.js
Labels: component: grouped-settings, pr: needs review, priority: low

#2136 chore: remove gateway assignment on init
  includes/class-wc-payments-payment-request-button-handler.php
Labels: component: grouped-settings, pr: needs review, priority: low

#2196 Update/2194 replace connect account page exp
  client/connect-account-page-experiment/index.js
  client/connect-account-page-variant/index.js
  client/connect-account-page-variant/strings.js
  client/connect-account-page-variant/style.scss
  client/connect-account-page-variant/test/__snapshots__/index.js.snap
  client/connect-account-page-variant/test/index.js
  client/connect-account-page/cards/amex.js
  client/connect-account-page/cards/applepay.js
  client/connect-account-page/cards/cb.js
  client/connect-account-page/cards/diners.js
  client/connect-account-page/cards/discover.js
  client/connect-account-page/cards/gpay.js
  client/connect-account-page/cards/jcb.js
  client/connect-account-page/cards/maestro.js
  client/connect-account-page/cards/mastercard.js
  client/connect-account-page/cards/unionpay.js
  client/connect-account-page/cards/visa.js
  client/connect-account-page/hero-image.js
  client/connect-account-page/index.js
  client/connect-account-page/strings.js
  client/connect-account-page/style.scss
  client/connect-account-page/test/__snapshots__/index.js.snap
  client/index.js
Labels: pr: ready to merge

#2182 Fix for fatal error when saving changes on Multi-Currency page
  includes/multi-currency/class-settings.php
Labels: component: customer multi-currency, pr: ready to merge

#2137 Migrate deprecated payment request button types "Branded" and "Custom"
  includes/class-wc-payments.php
  includes/migrations/class-allowed-payment-request-button-types-update.php
  tests/unit/migrations/test-class-allowed-payment-request-button-types-update.php
Labels: component: grouped-settings, pr: needs review

#2193 Run post-upgrade actions for all requests
  changelog.txt
  includes/class-wc-payments-apple-pay-registration.php
  includes/class-wc-payments.php
  tests/unit/test-class-wc-payments-apple-pay-registration.php
  tests/unit/test-class-wc-payments.php
Labels: component: payment request button, pr: needs review

#2235 feat: add UPE settings preview feature flag
  client/settings/settings-manager/index.js
  client/settings/settings-manager/test/index.test.js
  includes/class-wc-payments-features.php
  tests/unit/test-class-wc-payments-features.php
Labels: pr: needs review

#2029 Add new E2E test Merchant / Subscriptions / Renewal
  tests/e2e/specs/subscriptions/merchant-renew-subscription.spec.js
Labels: category: E2E, pr: ready to merge

#1811 Payment Request Button: Guide users to authentication when it is required
  changelog.txt
  client/payment-request/blocks/payment-request-express.js
  client/payment-request/blocks/use-initialization.js
  client/payment-request/index.js
  client/payment-request/utils/utils.js
  includes/class-wc-payments-payment-request-button-handler.php
  readme.txt
Labels: pr: ready to merge

#2172 Fix rounding error when displaying fee percentages
  changelog.txt
  client/components/account-status/account-fees/test/__snapshots__/index.js.snap
  client/payment-details/timeline/map-events.js
  client/payment-details/timeline/test/__snapshots__/map-events.js.snap
  client/utils/account-fees.js
  client/utils/fees/index.test.ts
  client/utils/fees/index.ts
  lint-staged.config.js
  package.json
  readme.txt
Labels: component: account overview page, component: timeline and events, pr: ready to merge

#2198 Ensure the level3 payload remains empty for non-US merchants
  includes/wc-payment-api/class-wc-payments-api-client.php
  tests/unit/helpers/class-phpunit-utils.php
  tests/unit/wc-payment-api/test-class-wc-payments-api-client.php
Labels: component: checkout, pr: needs author reply

#2241 Pull in Action Scheduler plugin for e2e tests
  .github/workflows/e2e-test.yml
  tests/e2e/README.md
  tests/e2e/env/docker-compose.yml
  tests/e2e/env/setup.sh
  tests/e2e/specs/subscriptions/README.md
  tests/e2e/utils/flows.js
Labels: category: E2E, pr: ready to merge

#2253 Add ExPlat PHP client
  changelog.txt
  includes/class-experimental-abtest.php
  includes/class-wc-payments.php
  readme.txt
Labels: pr: ready to merge

#2234 Add breadcrumbs to single currency settings
  includes/multi-currency/class-settings.php
Labels: component: customer multi-currency, pr: needs review

#2231 Extend Currency class to add is_zero_decimal
  includes/multi-currency/class-currency.php
  tests/unit/multi-currency/test-class-currency.php
Labels: component: customer multi-currency, pr: needs review

#2181 Prompt if business location is not among supported countries when onboarding merchants
  changelog.txt
  client/connect-account-page/index.js
  client/connect-account-page/modal/index.js
  client/connect-account-page/modal/style.scss
  client/connect-account-page/modal/test/__snapshots__/index.js.snap
  client/connect-account-page/modal/test/index.js
  client/connect-account-page/strings.js
  client/connect-account-page/test/__snapshots__/index.js.snap
  client/connect-account-page/test/index.js
  client/stylesheets/abstracts/_variables.scss
  includes/admin/class-wc-payments-admin.php
  includes/class-wc-payments-utils.php
  readme.txt
Labels: pr: ready to merge

#2236 chore: remove advanced settings UPE fields
  client/settings/advanced-settings/block-appearance.js
  client/settings/advanced-settings/checkbox-toggle.js
  client/settings/advanced-settings/index.js
  client/settings/advanced-settings/test/block-appearance.test.js
  client/settings/advanced-settings/test/index.test.js
Labels: component: grouped-settings, pr: needs review

#2189 Fix subscriptions price strings for variations and sign up fees.
  includes/multi-currency/class-frontend-prices.php
  tests/unit/multi-currency/test-class-frontend-prices.php
Labels: component: customer multi-currency, pr: ready to merge

#2248 Add the default currency and exchange rate to new orders' meta
  includes/multi-currency/class-frontend-prices.php
  includes/multi-currency/class-multi-currency.php
  tests/unit/multi-currency/test-class-frontend-prices.php
  tests/unit/multi-currency/test-class-multi-currency.php
Labels: component: customer multi-currency, pr: ready to merge

#2243 Add store settings to enabled currencies screen
  client/data/multi-currency/actions.js
  client/multi-currency/index.js
  includes/multi-currency/class-multi-currency.php
  includes/multi-currency/class-settings.php
Labels: component: customer multi-currency, pr: needs review

#2268 Add badge to Payments > Settings if UPE settings preview = 1 and UPE = 0
  includes/admin/class-wc-payments-admin.php
  tests/unit/admin/test-class-wc-payments-admin.php
Labels: component: grouped-settings, pr: needs review

#2141 Add advance filters on deposits page.
  changelog.txt
  client/data/deposits/hooks.js
  client/data/deposits/resolvers.js
  client/data/deposits/test/resolvers.js
  client/deposits/filters/config.js
  client/deposits/filters/test/__snapshots__/index.js.snap
  client/deposits/filters/test/index.js
  client/deposits/list/index.js
  client/deposits/list/test/__snapshots__/index.js.snap
  client/deposits/list/test/index.js
  includes/admin/class-wc-rest-payments-deposits-controller.php
  readme.txt
Labels: pr: ready to merge

#2273 Pre-fill OAuth flow with WC store country
  changelog.txt
  includes/admin/class-wc-payments-admin.php
  includes/class-wc-payments-account.php
  readme.txt
Labels: pr: ready to merge

#2278 Check for storeSettingsSection before toggling code
  client/multi-currency/index.js
Labels: component: customer multi-currency, pr: ready to merge

#2167 Disable the manual refunds button unless a WCPay refund has failed
  client/order/index.js
  client/utils/order.js
  includes/admin/class-wc-payments-admin.php
  includes/admin/class-wc-rest-payments-webhook-controller.php
  includes/class-wc-payment-gateway-wcpay.php
  tests/unit/admin/test-class-wc-rest-payments-webhook.php
  tests/unit/test-class-wc-payment-gateway-wcpay.php
  webpack.config.js
Labels: pr: needs review

#1963 Feature/1816 empty state deposits screen
  client/deposits/index.js
  client/emtpy-state-table/deposits-banner.svg
  client/emtpy-state-table/index.js
  client/emtpy-state-table/list.js
  client/emtpy-state-table/style.scss
  client/emtpy-state-table/transactions-banner.svg
  client/tracks/index.js
  client/transactions/index.js
  includes/admin/class-wc-payments-admin.php
  package-lock.json
  package.json
Labels: pr: ready to merge

#2272 Left align the connect page contents
  client/connect-account-page/strings.js
  client/connect-account-page/style.scss
  client/connect-account-page/test/__snapshots__/index.js.snap
  client/connect-account-page/test/index.js
Labels: pr: needs design review, pr: needs review

#2281 Add Jest snap files to editorconfig
  .editorconfig
Labels: category: engineering, pr: ready to merge, priority: low, size: small, type: bug

#2291 Temporarily don't show the payments notification badge at all
  includes/admin/class-wc-payments-admin.php
  tests/unit/admin/test-class-wc-payments-admin.php
Labels: pr: needs review

#2260 Add new e2e test Systems / Subscriptions / Renew via Action Scheduler
  tests/e2e/specs/subscriptions/merchant-renew-action-scheduler.spec.js
  tests/e2e/utils/flows.js
Labels: category: E2E, pr: ready to merge

#2294 Fix - The "Finish Setup" button just reloads the setup page and doesn't redirect to Stripe onboarding.
  client/connect-account-page/index.js
  client/connect-account-page/test/index.js
  includes/admin/class-wc-payments-admin.php
Labels: pr: ready to merge

#2042 Client Side fetching and caching of currency rates
  includes/class-wc-payments.php
  includes/multi-currency/class-multi-currency.php
  includes/wc-payment-api/class-wc-payments-api-client.php
  tests/unit/multi-currency/test-class-multi-currency.php
  tests/unit/wc-payment-api/test-class-wc-payments-api-client.php
Labels: component: customer multi-currency, pr: needs review

#2284 Only output single currency breadcrumbs when rendering the settings page
  includes/multi-currency/class-settings.php
  tests/unit/multi-currency/test-class-settings.php
Labels: component: customer multi-currency, pr: ready to merge

#2300 fix: DigitalWallets settings click through
  client/settings/digital-wallets/style.scss
Labels: pr: needs review

#2302 fix: all payment methods icons column display
  includes/class-wc-payment-gateway-wcpay.php
  includes/payment-methods/class-cc-payment-gateway.php
Labels: component: grouped-settings, pr: needs review

#2275 Redirect to onboarding when account disconnected
  changelog.txt
  includes/admin/class-wc-payments-admin.php
  includes/class-wc-payments-account.php
  readme.txt
  tests/unit/admin/test-class-wc-payments-admin.php
Labels: pr: ready to merge, priority: low

#2263 Bump Required Versions for 2.6 Release
  changelog.txt
  readme.txt
  woocommerce-payments.php
Labels: pr: ready to merge

#2280 Update customer multi-currency default settings and options
  client/multi-currency/index.js
  includes/multi-currency/class-multi-currency.php
  includes/multi-currency/class-settings.php
  tests/unit/multi-currency/test-class-multi-currency.php
Labels: component: customer multi-currency, pr: ready to merge

#2165 Fix double conversion issues on manual subscription renewals.
  includes/multi-currency/class-compatibility.php
  includes/multi-currency/class-currency-switcher-widget.php
  includes/multi-currency/class-frontend-prices.php
  includes/multi-currency/class-multi-currency.php
  includes/multi-currency/class-utils.php
  phpunit.xml.dist
  tests/unit/helpers/class-wc-helper-subscriptions.php
  tests/unit/multi-currency/test-class-compatibility.php
  tests/unit/multi-currency/test-class-currency-switcher-widget.php
  tests/unit/multi-currency/test-class-frontend-prices.php
  tests/unit/multi-currency/test-class-utils.php
Labels: component: customer multi-currency, pr: ready to merge

#2277 Fix scrollable content in currencies modal
  client/multi-currency/enabled-currencies-list/modal.js
  client/multi-currency/enabled-currencies-list/style.scss
  client/multi-currency/enabled-currencies-list/test/__snapshots__/index.js.snap
Labels: component: customer multi-currency, pr: needs review, priority: low, size: small, type: task

#2306 Rename and reorder E2E tests into two groups of merchant and shopper
  tests/e2e/specs/README.md
  tests/e2e/specs/merchant/merchant-admin-deposits.spec.js
  tests/e2e/specs/merchant/merchant-admin-disputes.spec.js
  tests/e2e/specs/merchant/merchant-admin-transactions.spec.js
  tests/e2e/specs/merchant/merchant-disputes-save-for-editing.spec.js
  tests/e2e/specs/merchant/merchant-disputes-submit-losing.spec.js
  tests/e2e/specs/merchant/merchant-disputes-submit-winning.spec.js
  tests/e2e/specs/merchant/merchant-orders-full-refund.spec.js
  tests/e2e/specs/merchant/merchant-payment-gateways-confirmation.spec.js
  tests/e2e/specs/merchant/merchant-subscriptions-purchase-no-sign-up.spec.js
  tests/e2e/specs/merchant/merchant-subscriptions-purchase-sign-up-fee.spec.js
  tests/e2e/specs/merchant/merchant-subscriptions-renew-action-scheduler.spec.js
  tests/e2e/specs/merchant/merchant-subscriptions-renew-subscription.spec.js
  tests/e2e/specs/merchant/merchant-subscriptions-settings.spec.js
  tests/e2e/specs/shopper/shopper-checkout-purchase.spec.js
  tests/e2e/specs/shopper/shopper-checkout-save-card-and-purchase.spec.js
  tests/e2e/specs/shopper/shopper-myaccount-renew-subscription.spec.js
  tests/e2e/specs/shopper/shopper-myaccount-save-card-and-checkout.spec.js
Labels: category: E2E, pr: needs review

#2290 Use client-side navigation for links within app
  client/components/deposits-information/declarations.d.ts
  client/components/deposits-information/index.tsx
  client/components/deposits-information/test/__snapshots__/index.js.snap
  client/payment-details/timeline/map-events.js
  client/payment-details/timeline/test/__snapshots__/index.js.snap
  client/payment-details/timeline/test/__snapshots__/map-events.js.snap
  client/payment-details/timeline/test/index.js
  client/transactions/list/index.js
  client/transactions/list/test/__snapshots__/index.js.snap
  client/transactions/list/test/index.js
  includes/class-wc-payment-gateway-wcpay.php
  includes/wc-payment-api/class-wc-payments-api-client.php
Labels: pr: needs review, priority: low, type: enhancement

#2307 Start 2.7.0 change log
  changelog.txt
  readme.txt
Labels: pr: ready to merge

#2239 feat: add mechanism to manage UPE flag
  client/additional-methods-setup/index.js
  client/additional-methods-setup/upe-preview-methods-selector/enable-upe-preview-task.js
  client/additional-methods-setup/upe-preview-methods-selector/index.js
  client/additional-methods-setup/upe-preview-methods-selector/index.scss
  client/additional-methods-setup/upe-preview-methods-selector/setup-complete-task.js
  client/additional-methods-setup/upe-preview-methods-selector/test/enable-upe-preview-task.test.js
  client/additional-methods-setup/upe-preview-methods-selector/test/wcpay-settings-fetcher.test.js
  client/additional-methods-setup/upe-preview-methods-selector/wcpay-settings-fetcher.js
  client/settings/wcpay-upe-toggle/context.js
  client/settings/wcpay-upe-toggle/hook.js
  client/settings/wcpay-upe-toggle/provider.js
  client/settings/wcpay-upe-toggle/test/provider.test.js
  includes/admin/class-wc-payments-admin-additional-methods-setup.php
  includes/admin/class-wc-rest-upe-flag-toggle-controller.php
  includes/class-wc-payments-features.php
  includes/class-wc-payments.php
  tests/unit/admin/test-class-wc-rest-upe-flag-toggle-controller.php
  tests/unit/bootstrap.php
Labels: component: grouped-settings, pr: needs review

#2279 refactor: slight refactor on the UPE available methods
  includes/class-wc-payment-gateway-wcpay.php
  includes/payment-methods/class-upe-payment-gateway.php
  tests/unit/admin/test-class-wc-rest-payments-settings-controller.php
Labels: component: grouped-settings, pr: needs review

#2186 Support emoji flags on unsupported browsers/OS
  includes/multi-currency/class-currency-switcher-widget.php
  includes/multi-currency/class-settings.php
Labels: component: customer multi-currency, pr: ready to merge

#2312 Format customer currency based on the customer's country
  includes/multi-currency/class-frontend-currencies.php
  includes/multi-currency/class-multi-currency.php
  includes/multi-currency/class-utils.php
  tests/unit/multi-currency/test-class-frontend-currencies.php
  tests/unit/multi-currency/test-class-utils.php
Labels: component: customer multi-currency, pr: needs design review, pr: needs review

#2315 Remove deprecated usages of @woocommerce/components <Card>
  README.md
  client/connect-account-page/index.js
  client/connect-account-page/style.scss
  client/connect-account-page/test/__snapshots__/index.js.snap
  client/payment-details/index.js
  client/payment-details/payment/index.js
  client/payment-details/session/index.js
Labels: component: account overview page, pr: needs design review, pr: ready to merge

#2331 Update inbox note filter to handle source arg as array
  includes/class-wc-payments.php
  readme.txt
Labels: pr: ready to merge
